# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/.eide
/DebugConfig
/lib
/Listings
/Objects
/RTE
keilkill.bat
Project.code-workspace
Project.uvguix.Kaerei
Project.uvoptx
Project.uvprojx
